
!.gitignore
.secrets
.env

#inpx-web
inpx-web/data
#n8n
n8n/n8n_data
#jellyfin
jellyfin/cache
jellyfin/config
#xo
xen-orchestra/redis-data
xen-orchestra/xo-data
#linkding
linkding/data
#pihole
pihole/pihole
pihole/dnscrypt
#hermes
hermes/data
#ollama
ollama/ollama-data

traefik/.env

qbittorrent/config

homepage/config/*

uptime-kuma/data/
